# See https://help.github.com/ignore-files/ for more about ignoring files.

# server
/server/node_modules
/server/package-lock.json
/server/keys.js

# dependencies
/client/node_modules
/client/package-lock.json

# production
/client/build

# misc
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

#Deployment server
/deploy*
