* {
    color: #fff;
    font-family: 'Lato';
}
.header {
    background-image: linear-gradient(to bottom, rgba(255, 201, 82,.1), rgba(52, 49, 76,.3)), url(../img/building.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


h3::first-letter {
    color: #ff7473;
    font-size: 60px;
    transform: 'scale(1,1.3)',
}
.section {
    padding: 50px 0;
}
